.course-description-container {
  margin: auto;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
  margin-top: 50px;
}
.course-description-internal-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.description-left .top .what-you-will-learn {
  border: 1px solid var(--borders);
  padding: 20px;
  border-radius: 10px;
}
.what-you-will-learn h2 {
  
  background: var(--purple-headings);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.what-you-will-learn .learn-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-top: 10px;
  gap: 10px;

}
.learn-columns span {
  display: list-item;
  list-style: disc;
  font-size: 15px;
  color: var(--headings);
}
.description-left .top .course-overview {
  border: 1px solid var(--borders);
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}
.course-overview h2 {
  background: var(--purple-headings);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.course-overview p {
  margin-bottom: 15px;
  font-size: 15px;
  color: var(--headings);
}
.overview-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-top: 30px;
  gap: 10px;
}
.overview-columns1 span {
  display: list-item;
  list-style: disc;
  font-size: 15px;
}
.overview-columns span {
  color: var(--headings);
}

.description-left .bottom {
  margin-top: 40px;
}
.description-left .bottom h2 {
  font-size: 22px;
  margin-bottom: 20px;
  background: var(--purple-headings);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description-left .bottom-children {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.description-left .bottom-child {
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  padding: 20px 20px;
  border-radius: 10px;
  gap: 20px;
}
.description-left .bottom-child img {
  width: 40px;
}
.bottom-child span
{
  color: var(--headings);
}
.description-right .instructor {
  width: 350px;
}
.description-right h2 {
  background: var(--purple-headings);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description-right .instructor .instructor-info {
  border: 1px solid var(--borders);
  border-top: none;
  padding-bottom: 30px;
  border-radius: 10px;
}
.description-right .instructor img {
  width: 350px;
}
.description-right .instructor p {
  padding: 20px;
  font-size: 15px;
  color: var(--headings);
}
.description-right .instructor .social-links {
  margin-left: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.description-right .instructor .social-links a img {
  width: 20px;
}

@media screen and (max-width: 1200px) {
  .what-you-will-learn .learn-columns {
    display: grid;
    grid-template-columns: 1fr;
  }
  .course-overview .overview-columns1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .description-right .instructor {
    width: 250px;
  }
  .description-right .instructor img {
    width: 250px;
  }
}

@media screen and (max-width: 900px) {
  .course-description-internal-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .description-left .top .course-overview {
    border: 1px solid #d8d8d8;

    margin-top: 20px;
  }
  .instructor-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:720px) {
    .course-description-container {
        margin-left: 40px;
        margin-right: 40px;
      }
    .instructor-group {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .description-right .instructor {
        margin: auto;
        width: auto;
    }
    .description-right .instructor img {
      width: 100%;
    }
    .bottom .bottom-children {
        display: grid;
        grid-template-columns: 1fr;
    }
}