.blogs-outer-container {
  margin: auto;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
  margin-top: 15vh;
}
.blogs-inner-container {
  background: var(--blog);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  transition: 0.3s linear;
  overflow-y: hidden;
 
}
.blogs-left {
  line-height: 30px;
  padding: 67px;
}
.blogs-left h1 {
  font-size: 35px;
  color: #ffffff;
}

.blogs-left p {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
}
.blogs-left a img {
  width: 223px;
}
.blog-explore
{
  display: flex;
  flex-direction: row;
  /* background-color: red; */
}
.blog-explore a
{
  border-radius: 50px;
    background: rgb(0, 0, 0,0.25);
    width: max-content;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    padding: 14px 24px;
    transition: 0.3s ease-in-out;
    
}
.blog-explore a img
{
 width: 100px;
 padding: 0;
 margin: 0;
}
.blog-explore a:hover
{
  background: rgb(0, 0, 0, 0.32);;
}
.blogs-right
{
  overflow: hidden;
  
}
.right-image1
{
  overflow-y: hidden;
  width: 100%;
  margin-bottom:-6vh;
}
.right-image1 img {
    
    width: 450px;
    position: inherit;
    opacity: 0.35; 
    overflow: hidden;
    /* object-fit:cover;
    object-position: 0px 80px; */
    transform: scale(1.03);
    margin-top: 0; 
    margin-bottom: -6px;
    margin-left: 10px; 
}
@media screen and (max-width:1240px) {
  .right-image1 img {
    display: none;
  }
}
@media screen and (max-width:1284px) {
  .blogs-left h1 {
    font-size: 30px;
  }
  .blogs-left p
  {
    font-size: 17px;
  }
  
}
/* .right-image img {
  width: 500px;
  margin-right: 60px;
} */

/* ========= Media Query (Medium Devices) ============ */
@media screen and (max-width: 1024px) {
  .blogs-inner-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .blogs-right {
    display: flex;
    justify-content: center;
  }
}

/*  =========== Media Query (Small Devices) ========== */
@media screen and (max-width: 720px) {
  .blog-explore
  {
    justify-content: center;
  }
  .blog-explore a
  {
      margin-top: 1vh;
      font-size: 16px;
      margin-bottom: 4vh;
  }
    .blogs-outer-container {
        margin-left: 20px;
        margin-right: 20px;
    }
  .blogs-inner-container {
      padding-top: 40px;
    width: fit-content;
  }
  .blogs-left {
    padding: 30px;
  }
  .blogs-left h1 {
    font-size: 25px;
    text-align: center;
  }
  .blogs-left p {
    font-size: 15px;
    margin: 15px 0;
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  /* .blog-explore a
{
    margin-top: 1vh;
    font-size: 16px;
    text-align: center;
} */
.blog-explore a
{
    
    padding: 10px 15px;
}
.blog-explore
{
  justify-content: center;
}
/* .blog-explore a img
{
 width: 79px;
} */
}