@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.newsletter {
  background: linear-gradient(90deg, #5848ea, #9549eb);
  padding: 40px 40px;
  max-width: 800px;
  margin: auto;
  color: white;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.newsletter p {
     font-size: 15px;
     letter-spacing: 1px;
 }

 form {
     margin-top: 20px;
 }

 .text {
    /* display: flex; */
    /* justify-content: center; */
}

 .newsletter-input {
     padding: 10px;
     border-radius: 10px;
     border: none;
     width: 450px;
     font-size: 16px;
 }

 input:active {
     border: none;
 }

 button {
     padding: 12px 20px;
     border-radius: 10px;
     border: none;
     background-color: #61D96E;
     color: white;
     /* font-weight: bolder; */
     margin-left: 10px;
     font-size: 16px;
     cursor: pointer;
 }

 @media screen and (max-width:875px) {
    .newsletter {
        width: 600px;
    }
    .newsletter-input {
        width: 350px !important;
    }
 }

 @media  screen and (max-width:645px) {
    .newsletter {
        width: 350px;
        padding: 40px 20px;
    }
    .newsletter p {
        font-size: 15px;
        letter-spacing: 1px;
        padding-left: 15px;
    }
    .newsletter-input {
        width: 290px !important;
        margin: auto;
        margin-bottom: 15px;
    }
    .text {
        display: flex;
        /* flex-direction: column; */
        flex-flow: row wrap;
        
    }
    button {
        align-items: center;
        justify-content: center;
        margin: auto;
    }
 }