.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
 }
small
{
  font-size: 0.9em;
  margin-top: 5vh;
}
.timer-container span {
    font-size: 1.5em;
    font-weight: 800;

}
.Number 
{ 
    background: rgba(154, 164, 238, 0.336);
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    padding: 0.2em;
    margin: 0 0.4em;
    border-radius: 10px;
    margin-bottom: 1vh;
}

.timebox
{
    text-align: center;
    border-radius: 10px;
}
.top
{
    background-color: rgba(199, 159, 159, 0.15);  
    backdrop-filter: blur(10px);
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.popup
{
    min-width: 500px;
    min-height: 350px;
    background: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    animation: fadeInDown 0.8s;
    text-align: center;
}
.popup-heading h1 {
color: rgb(129, 69, 221);
margin-top: 1vh;
}
.close
{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.popup-heading {
    margin-bottom: 3vh;
}
.popup-footer {
    margin-top: 3vh;
}
.popup-footer a {
    background: linear-gradient(90deg, #F77B26 0%, #F55A47 100%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 2vh;
    margin-bottom: 1vh;
}