.header-banner-container {
    display: flex;
    justify-content: center;
    /* margin-left: 80px;
    margin-right: 80px; */
}
.header-banner-container img {
    width: 100%;
    height: 12vh;
    /* margin-left: 80px;
    margin-right: 80px; */
}
.headerImagePhone {
    display: none;
}

@media screen and (max-width:760px) {
    .headerImage {
        display: none;
    }
    .headerImagePhone {
        display: block;
        width: 90%;
        height: 80px;
        /* display: none; */
    }
}
@media screen and (max-width:480px)
{
    .headerImagePhone {
        display: block;
      width:180px;
      height:120px;
        /* display: none; */
    }
}
