.header-banner-container {
    display: flex;
    justify-content: center;
    /* margin-left: 80px;
    margin-right: 80px; */
}
.header-banner-container img {
    width: 100%;
    margin-left: 80px;
    margin-right: 80px;
}

@media screen and (max-width:674px) {
    .header-banner-container img{
        height: 30px;

    }
}