.header-banner-container {
    display: flex;
    justify-content: center;
    /* margin-left: 80px;
    margin-right: 80px; */
    background: #f65b48;
}
.header-banner-container img {
    width: 80%;
    height: 9vh;
    /* margin-left: 80px;
    margin-right: 80px; */
}
.headerImagePhone {
    display: none;
}

@media screen and (max-width:760px) {
    .headerImage {
        display: none;
    }
    .headerImagePhone {
        display: block;
        width: 90%;
        height: 80px;
        /* display: none; */
    }
}
@media screen and (max-width:480px)
{
    .header-banner-container img
    {
        width: 100%;
        
    }
}
