.buy-on-udemy-container {
    margin: auto;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
  }
  .buy-on-udemy-internal-container {
    background-color: #f9f9f9;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .buy-on-udemy-left {
    padding: 67px;
  }
  .buy-on-udemy-left h3 {
    font-size: 30px;
  }
  
  .buy-on-udemy-left p {
    margin: 30px 0;
    font-size: 18px;
    font-weight: 300;
  }
  .buy-on-udemy-left a img {
    width: 223px;
  }
  .buy-on-udemy-left a {
    background: linear-gradient(90deg, #5848EA 0%, #9549EB 100%);
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
  }
  .buy-on-udemy-right-image img {
    width: 324px;
  }
  
  /* ========= Media Query (Medium Devices) ============ */
  @media screen and (max-width: 1074px) {
    .buy-on-udemy-internal-container {
      grid-template-columns: 1fr;
      justify-content: center;
    }
    .buy-on-udemy-container {
      display: flex;
      justify-content: center;
    }
    .buy-on-udemy-right-image{
      display: flex;
      justify-content: center;
    }
  }
  
  /*  =========== Media Query (Small Devices) ========== */
  @media screen and (max-width: 720px) {
      .buy-on-udemy-container {
          margin-left: 20px;
          margin-right: 20px;
      }
    .buy-on-udemy-internal-container {
        padding-top: 40px;
      width: fit-content;
    }
    .buy-on-udemy-left {
      padding: 30px;
    }
    .cbuy-on-udemy-left h3 {
      font-size: 25px;
    }
    .buy-on-udemy-left p {
      font-size: 16px;
      margin: 15px 0;
    }
  }
  