.nav__menu li {
  list-style: none;
}
.nav__item .nav__link {

  text-decoration: none;
  font-size: 15px;
  color: #000;
  transition: 0.1s ease-in-out;
}
.nav__item .nav__link:hover {

  font-weight: 600;
}

.nav{
  display: flex;
  position: fixed;
  align-items: center;
  /* margin-top: 1vh; */
  height: 12vh;
  width: 100%;
  max-width: 1600px;
  z-index: 9999;
  transition: 0.1s ease-in-out;
}
.nav__menu
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* margin-top: 1vh; */
  margin-left: auto;
  margin-right: 95px; 
}

.nav__toggler div {
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
  border-radius: 2px;
  background: linear-gradient(90deg,#5848ea,#9549eb);;
  transition: 0.5s ease-in-out;
  
}
.nav__toggler {
  cursor: pointer;
  display: none;
  z-index: 9999;
}
.nav__brand
{
  margin-left: 83px;
  margin-top: 1vh;
}
.nav__brand img
{
  width: 224px;
}
@media screen and (max-width: 674px) {
  .border-line {
    display: none;
  }
  .nav__brand
{
  margin-left: 21px;
  margin-top: 2vh;
}
.nav__brand img
{
  width: 174px;
}
.nav__toggler {
  margin-right: 25px !important;
  margin-top: 0.6vh
}
.nav__toggler div {
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
}
}
@media screen and (max-width: 1200px) {
  .nav__toggler {
    display: block;
    margin-right: 86px;
    margin-left: auto;
  }
  .nav__menu
  {
    gap:0.5vh;
    position: fixed;
    justify-content: space-evenly;
    top: 11.8vh;
    right: 0;
    width:55%;
    height: 89vh;
    background-color: #fff;
    margin-right: 0;
    z-index: 999;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
  }

}
@media screen and (max-width:354px) 
{
.nav__menu
{
  height: 100vh;
}  
}

@media screen and (max-width:354px) 
{
.nav__menu
{
  height: 100vh;
}  
}
@media screen and (max-width:330px) 
{
.nav__menu
{
  height: 110vh;
}  
}
@media screen and (max-width:288px) 
{
.nav__menu
{
  height: 117vh;
}  
}
/*Navbar Activated*/
.nav__active
{
  transform: translateX(0);
}
.line2
{
  width: 1.5rem !important;
}
/*Toggler Animation*/


.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
  
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -6px);
  
}
.nav.sticky
{
  box-shadow: 0 8px 6px -6px rgb(243, 240, 240);
  background:#fff;
  /* position: fixed;
  top: 0vh;
  margin-top: 0vh; */
}
