.statistics-internal-container {
  max-width:1000px;
  margin: auto;
  color: white;
  position: relative;
  top: 70px;
}
.statistics-main {
  padding: 30px 10px;
  background: linear-gradient(90deg, #5848ea 0%, #9549eb 100%);
  border-radius: 15px !important;
font-size: 20px;
}
.statistics-internal-container .statistics-our-journey {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 24px;
  text-align: center;

}
.statistics-internal-container .statistics-sections {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  text-align: center;

}
.statistics-sections .statistics-section {
  
}

.statistics-internal-container .statistics-border {
  height: 50px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.184);

}

@media screen and (max-width:1060px) {
  .statistics-main {
    padding: 30px 10px;
  }
  .statistics-internal-container {
    max-width: 600px;
  }
  .statistics-main {
    font-size: 16px;
  }
  .statistics-sections {
    display: flex;
    gap: 2rem;
  }
}

@media screen and (max-width:670px) {
  .statistics-main {
    padding: 30px 10px;
  }
    .statistics-internal-container {
      max-width: 500px;
    }
    .statistics-main {
      font-size: 14px;
    }
    .statistics-sections {
      gap: 1rem;
    }
}

@media screen and (max-width:530px) {
  .statistics-main {
    padding: 30px 10px;
  }
  .statistics-our-journey {
    font-size: 18px !important;
    width: 100%;
  }
}