@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

#contact {
    background-color: #f9f9f9;

}

.contact-box {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: grid;
  max-width: 1600px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  min-height: 100vh;
}
.contact-links {
  margin: auto;
  position: relative;
  top: -100px;
}
.contact-links img {
  width: 400px;
}
.contact-links h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 0;
}
.contact-links h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
}

.contact-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.campus-captain-form {
    margin: 40px 0px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}
.campus-captain-form h3 {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.form item{
}

label {
    display: none;
}
input {
    padding: 14px 10px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #D8D8D8;
    font-size: 13px;
    width: 450px;
}
::placeholder {
    color: #5b5b5dd6;
}
textarea {
    padding: 14px 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #D8D8D8;
    font-size: 13px;
    width: 450px;
    font-family: "Poppins", sans-serif !important;
    height: 100px;
}
.submit-btn {
    display: flex;
    justify-content: center;
}
.submit-btn img{
    width: 110px;
    cursor: pointer;
}

/* ============== Media Query (Medium Devices) =============== */
@media screen and (max-width:1000px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .contact-links {
    position: static;
    margin-top: 50px;
  }
}

@media screen and (max-width:600px) {
  .contact-links img{
    width: 300px;
  }
  .contact-links h3{
    font-size: 20px;
  }
  .contact-links h2 {
    font-size: 24px;
  }
  .campus-captain-form {
    width: 320px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  input {
    width: 235px;
    width: 270px;
  }
  textarea{
    width: 270px;
  }
}
