@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth !important;
}
body
{
  background: var(--bg-container);
  transition: 0.3s linear;
}

.components-outer-container {
  max-width: 1600px;
  margin: auto;
}
::-webkit-scrollbar {
  display: none;
}
.dark-theme {
  --bg-container: #0c0019;
  --headings: white ;
  --nav-color: rgba(246, 246, 246, 0.5);
  --nav-color-hover: white;
  --border:rgba(149, 73, 235, 0.1);
  --cards-color:#140229;
  --gray-bg: #0c0019;
  --purple-headings : -webkit-linear-gradient(90deg, #5848ea 0%, #9549eb 100%);
  --borders: rgb(93, 29, 196);
  --rating: rgb(93, 29, 196);
  --blog: -webkit-linear-gradient(90deg, #5848ea 0%, #9549eb 100%);
  --whycm-bg:#140229;
  --whycm-color: #0c0019;
  --discord: -webkit-linear-gradient(90deg, #5848ea 0%, #9549eb 100%);
  --mentors: #140229;
  --box-shadow: 0 8px 6px -6px rgb(72, 61, 94);
  --foot-img: url("./assets/Images/main/cmlogo-white.png");
}
.light-theme {
  --nav-color:rgba(0, 0, 0, 0.8);
  --bg-container: #ffffff;
  --nav-color-hover: rgb(0, 0, 0);
  --headings: black;
  --border: #eaeaea;
  --cards-color: #fff;
  --purple-headings : black;
  --gray-bg: #f5f5f5;
  --borders: #e2e2e2;
  --rating: black;
  --blog: #2962ff;
  --whycm-bg:#f5f5f5;
  --whycm-color: white;
  --discord: linear-gradient(90deg, #5848EA 0%, #9549EB 100%);
  --mentors:#d8d8d8;
  --box-shadow: 0 8px 6px -6px rgb(243, 240, 240);
  --foot-img: "./assets/Images/main/codingMinutesLogo.png";
}