.faq-outer-container{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
}
.faq-title{
    font-size: 40px;
    text-align: center;
    font-weight: 600; 
    margin-bottom: 20px;
   color: var(--rating);
}
.faq-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 50px;
}
.faq-content-item{
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}
.faq-content-item h4 {
    margin-bottom: 20px;
}

/* ============ Media Query (Medium Devices) =========== */
@media screen and (max-width:1100px) {
    .faq-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .faq-content-item {
        margin-top: 20px;
    }
}

/*  ================ Media Query (Small devices) ============== */
@media screen and (max-width:770px) {
    .faq-outer-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .faq-title {
        font-size: 25px;
    }
}